@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Permanent+Marker&display=swap');

.font-text {
    font-family: "Permanent Marker", sans-serif;
}

.bodytext-font {
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-size: 25px; 
    color: rgb(0, 0, 0)
}

.heading-font {
    font-family: "Permanent Marker", sans-serif;
    font-size: 25px; 
    color: rgb(0, 0, 0)
}

.text-shadow {
    text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.5)
}

.flashes h4 {
    line-height: 2;    
}

.btn-small {
    margin: 5px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}