{% extends "base.html" %}
{% block content %}

    <h4 class="font-text teal-text text-darken-2 text-shadow center-align">All Keto Meal Plans</h4>

    <ul class="collapsible">
        {% for mealplan in mealplan %}
        <li class="bodytext-font">
            <div class="collapsible-header white-text teal darken-3 text-shadow">
                <div class="col s3">
                    <!-- allows the person who added the mealplan to delete it -->
                    <i class="fas fa-caret-down"></i>
                    {% if session.user|lower == mealplan.added_by|lower %}
                    <a href="{{ url_for('delete_mealplan', mealplan_id=mealplan._id) }}" class="btn-small red accent-4">Delete</a>
                    {% endif %}
                </div>
                <div class="col s9">
                    <strong>{{ mealplan.mealplan_name }}</strong>
                    {% if mealplan.new_mealplan == "on" %}
                        <i class="fas fa-exclamation-circle teal darken-2 tooltipped" 
                            data-position="right" data-tooltip="New Meal Plan!"></i>
                    {% endif %}
                </div>
            </div>
            <!-- displays the added mealplan within the drop down menu on the page -->
            <div class="collapsible-body">
                <h6 class="heading-font">Breakfast</h6>
                <p>{{ mealplan.mealplan_breakfast}}</p>
                <h6 class="heading-font">Lunch</h6>
                <p>{{ mealplan.mealplan_lunch }}</p>
                <h6 class="heading-font">Dinner</h6>
                <p>{{ mealplan.mealplan_dinner }}</p>
                <p><em>by: {{ mealplan.added_by }}</em></p>
            </div>
        </li>
        {% endfor %}
    </ul>

{% endblock %}