{% extends "base.html" %}
{% block content %}

    <h4 class="teal-text text-darken-2 text-shadow center-align">All Keto Meal Plans</h4>

    <ul class="collapsible">
        {% for mealplan in mealplan %}
        <li>
            <div class="collapsible-header white-text teal darken-3 text-shadow">
                <div class="col s3">
                    <i class="fas fa-caret-down"></i>
                    {% if session.user|lower == mealplan.created_by|lower %}
                    <a href="{{ url_for('delete_mealplan', mealplan_id=mealplan._id) }}" class="btn-small red accent-4">Delete</a>
                    <a href="{{ url_for('edit_mealplan', mealplan_id=mealplan._id) }}" class="btn-small teal accent-4">Edit</a>
                    {% endif %}
                </div>
                <div class="col s9">
                    <strong>{{ mealplan.mealplan_name }}</strong>
                    {% if mealplan.new_mealplan == "on" %}
                        <i class="fas fa-exclamation-circle teal darken-2 tooltipped" 
                            data-position="right" data-tooltip="New Meal Plan!"></i>
                    {% endif %}
                </div>
            </div>
            <div class="collapsible-body">
                <h6>{{ mealplan.mealplan_name }}</h6>
                <h6>Breakfast</h6>
                <p>{{ mealplan.mealpan_breakfast}}</p>
                <h6>Lunch</h6>
                <p>{{ mealplan.mealplan_lunch }}</p>
                <h6>Dinner</h6>
                <p>{{ mealplan.mealplan_dinner }}</p>
            </div>
        </li>
        {% endfor %}
    </ul>

{% endblock %}